:root {
  --background-color : #ffffff;
  --font-color : #000000;
  --main-color : #FFF2D8;
  --line-color : #000000;
  --dialog-color : #ffffff;
  --dialog-font-color : #000000;
  --main-shadow : #808080;  

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root.dark-mode {

  --background-color : #2e2c2c;
  --font-color : #ffffff;
  --main-color : #2f045f;
  --line-color : #ffffff;
  --dialog-color : #ffffff;
  --dialog-font-color : #000000; 

}